<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/manageaddress" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="editAddressForm">
    <div>
      <ion-label>Tag</ion-label>
      <ion-list class="tag" lines="none">
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="Home"
            formControlName="tag"
          >
            <ion-select-option value="home">Home</ion-select-option>
            <ion-select-option value="office">Office</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-label position="floating">Address</ion-label>
      <ion-textarea rows="3" formControlName="address"></ion-textarea>
    </div>
    <div>
      <ion-label>Pincode</ion-label>
      <ion-input
        type="number"
        placeholder="Enter Input"
        formControlName="zipcode"
      ></ion-input>
    </div>
    <div>
      <ion-label>Landmark</ion-label>
      <ion-input
        placeholder="Enter Input"
        formControlName="landmark"
      ></ion-input>
    </div>
    <div>
      <ion-label>Mobile</ion-label>
      <ion-input
        type="number"
        placeholder="Enter Input"
        formControlName="mobile"
      ></ion-input>
    </div>
    <div>
      <ion-button
        class="button1"
        expand="block"
        color="white"
        (click)="editAddress()"
        >Edit</ion-button
      >
    </div>
  </form>
</ion-content>
