<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/account" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> WhatsOn </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe
    src="https://thestirlingarms.com.au/whats-on/stirling-specials"
    style="width: 100%; height: 100%"
    scrolling="yes"
    loading="lazy"
  ></iframe> -->
</ion-content>
