.head {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  width: 100%;
  margin: 10px;
}
.btn-send {
  color: black;
  right: 0;
  position: absolute;
}
.search {
  width: 88%;
}
.icon {
  font-size: 26px;
}
