<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="arrow" routerLink="/account">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Orders </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" id="first"><p>Apr 29,2021 12:32 PM</p></ion-col>
      <ion-col size="9">
        <h3 class="font-weight">#ORD0006789</h3>
      </ion-col>
      <ion-col size="3">
        <h5 class="font-weight">Ordered</h5>
      </ion-col>
      <ion-col size="3">
        <p class="segment">3 items</p>
      </ion-col>
      <ion-col size="9">
        <p class="segments">$117</p>
      </ion-col>
    </ion-row>
    <hr class="hr" />
  </ion-grid>
</ion-content>
