.text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap:5px;
  }
  .text-container h1{
    font-size: x-large;
    margin: 17px;
    color: black;
    font-weight: bold;
  }
  .text-container p{
    margin: 0;
    font-weight: 400;
    color: black;
  }
  .image-header{
    margin: auto;
    display: flex;
    height: 143px;
    width: auto;
    padding: 0 10px;
    margin-top: 52px;
    margin-bottom: 10px;
  }
  .button{
    display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      margin: auto;
      margin-top: 28px;
      width: 100%;
      color: black;
      border: 2px solid;
      outline: 5px black;
      box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);

  }


  // Piyush's css --------------------------------//@at-root

  #form{
    margin: 26px 24px 26px 24px;
    padding: 12px;
  }

  #form ion-input{
    border: 2px solid #000;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 10px !important;
  }

  #resend{
    float: right;
    margin-bottom: 22px;
  }

  #resend a{
    color: #000;
  }

  #create_acc{
    position: absolute;
    bottom: 4%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    left: 0;
  }

  #create_acc a{
    color: #000;
  }
