
<ion-content>
  <img src="assets/Stirling-Arms_Logo.png" class="image-header">
  <div class="text-container">
  <ion-text color="medium">
    <h1>STIRLING ARMS</h1>
  </ion-text>
  <ion-text color="medium">
    <p>Doing.Hotel.Different</p>
  </ion-text>
 </div>

 <form id="form">
  <div>
    <ion-label>Email</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
  </div>
  <div>
    <ion-label>Password</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
  </div>
  <div> 
    <a>Forget Password</a>
  </div>
 <div>
  <ion-button class="button" expand="block">Login</ion-button>
 </div>
<div>
  <h3> OR CONNECT WITH </h3>
</div>
<div>
  <ion-button color="primary"><ion-icon name='logo-facebook'></ion-icon>Facebook</ion-button>
  <ion-button color="danger"><ion-icon name='logo-google'></ion-icon>Google</ion-button>
</div>
<div>
  <a>CREATE NEW ACCOUNT </a>
</div>
 </form>
</ion-content>
