<ion-content>
  <div id="top_img">
    <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  </div>
  <div class="text-container">
    <ion-text color="medium">
      <h1>STIRLING ARMS</h1>
    </ion-text>
    <ion-text color="medium">
      <p>Doing.Hotel.Different</p>
    </ion-text>
  </div>

  <form id="form" [formGroup]="validateForm">
    <div>
      <ion-label>Email</ion-label>
      <ion-input
        type="text"
        placeholder="Enter Email"
        formControlName="email"
      ></ion-input>
    </div>
    <div *ngIf="officialEmail.errors">
      <div style="color: red" *ngIf="officialEmail.errors.pattern">
        Email is not valid.
      </div>
    </div>
    <div>
      <ion-label>Password</ion-label>
      <ion-input
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      ></ion-input>
    </div>
    <div id="forget">
      <a routerLink="/forgetpassword">Forgot Password</a>
    </div>
    <div id="mobile">
      <a routerLink="/mobilelogin">Login Via Mobile</a>
    </div>

    <div id="login">
      <ion-button
        class="button1"
        expand="block"
        color="white"
        (click)="submitForm()"
        [disabled]="validateForm.invalid"
        >Login</ion-button
      >
    </div>

    <div>
      <h3>OR CONNECT WITH</h3>
    </div>

    <div id="social_btn">
      <ion-button color="primary" class="btn2" (click)="loginwithfacebook()">
        <ion-icon name="logo-facebook"></ion-icon>Facebook
      </ion-button>

      <ion-button color="danger" class="btn3" (click)="loginwithgoogle()">
        <ion-icon name="logo-google"></ion-icon>Google
      </ion-button>
      
    </div>
    <div id="social">
      <ion-button color="dark" class="btn4" (click)="loginwithapple()" *ngIf="showAppleSignIn">
        <ion-icon name="logo-apple"></ion-icon>Apple
      </ion-button>
    </div>

    <div id="create_acc">
      <a routerLink="/register">CREATE NEW ACCOUNT </a>
    </div>
  </form>
</ion-content>
