<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/account" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> About Us </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387.246388610033!2d115.96893971558406!3d-31.89990228124576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32b9c2a50b7e63%3A0x1c21f07709c0bbf4!2s117+James+St%2C+Guildford+WA+6055!5e0!3m2!1sen!2sau!4v1498030996370"
    width="100%"
    height="250"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
  ></iframe>
  <div>
    <img src="assets/010.jpg" />
  </div>
  <div class="head">
    <h3>About Us</h3>
    <p>Doing.Hotel.Different</p>
    <p>
      We’re bringing new life to the historic town of Guildford! The Stirling
      Arms Hotel combines a hint of glamour with everything you love about your
      favourite local pub. Built in 1852, The Stirling Arms has a rich history
      as one of the oldest pubs in Western Australia. You can read more about
      our story here: Stirling Arms History Book.
    </p>
    <p>
      The Stirling Arms is your gateway to the food and wine scene of WA’s Swan
      Valley. A one-stop shop for all your wining, dining, and lodging needs.
      We’ve created a hub of tasty food, great drinks, local rewards and a whole
      lot of fun. The best part, it’s all at affordable prices!
    </p>
    <ul>
      <li>
        <p>
          GETTING HERE – We are located at 117 James Street Guildford, approx. a
          4km drive from Perth Airport & 400m from the Guildford Train Station.
          We have parking for up to 200 cars subject to availability.
        </p>
      </li>
      <li>
        <p>
          RESTAURANT & BAR OPENING HOURS – Monday to Sunday 12:00pm til late &
          Closed Public Holidays
        </p>
      </li>
      <li>
        <p>
          RESTAURANT & ACCOMMODATION BOOKINGS –
          <a>reservations@thestirlingarms.com.au</a>
        </p>
      </li>
      <li>
        <p>WEDDINGS & EVENTS – <a>events@thestirlingarms.com.au</a></p>
      </li>
      <li>
        <p>
          DRESS STANDARDS – The following dress standard applies during the
          permitted trading hours: Smart casual dress is to be worn at all times
          Footwear is to be worn at all times. Jackets or any other clothing or
          accessory, or any visible body markings bearing patches or insignia of
          any Outlaw Motor Cycle Gangs are not permitted to be worn or to be
          visible on these premises at any time.
        </p>
      </li>
    </ul>
    <p>
      We offer accommodation, casual dining, event spaces, a wedding venue, and
      Guildford’s best value drinks – basically everything you need to have an
      amazing time with your friends and family! Find out more
    </p>
    <ul>
      <li><p>Weddings</p></li>
      <li><p>Functions & Events</p></li>
      <li><p>Lunch & Dinner Specials</p></li>
      <li><p>Bottle Shop</p></li>
      <li><p>Accommodation</p></li>
      <li><p>Live Music, Events & Acts</p></li>
    </ul>
  </div>
  <div class="head">
    <h3>Business Hours</h3>
    <ul>
      <li><p>Monday to Thursday 12:00pm til late</p></li>
      <li><p>Friday & Saturday 11:00am til late</p></li>
      <li><p>Sunday 11:00am til late</p></li>
      <li><p>Public Holidays 12:00pm til 10pm</p></li>
    </ul>
    <h5 style="padding-left: 8px">BOTTLE SHOP OPENING HOURS</h5>
    <p>
      Monday to Thursday 12noon – 8pm<br />Friday & Saturday 11am – Midnight<br />Sunday
      11am – 8pm
    </p>
  </div>
</ion-content>
