<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/forgetpassword" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Forgot Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  <div class="text-container">
    <ion-text color="medium">
      <h1>STIRLING ARMS</h1>
    </ion-text>
    <ion-text color="medium">
      <p>Doing.Hotel.Different</p>
    </ion-text>
  </div>
  <form id="form">
    <div>
      <ion-label>Email</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </div>
    <div>
      <ion-label>OTP</ion-label>
      <ion-input placeholder="Enter OTP"></ion-input>
    </div>
    <div id="resend">
      <a>Resend OTP</a>
    </div>
    <div>
      <ion-button class="reset-button" expand="block" color="white"
        >Verify OTP</ion-button
      >
    </div>
  </form>
</ion-content>
