<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/forgetpassword" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Forgot Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="top_img">
    <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  </div>
  <div class="text-container">
    <ion-text color="medium">
      <h1>STIRLING ARMS</h1>
    </ion-text>
    <ion-text color="medium">
      <p>Doing.Hotel.Different</p>
    </ion-text>
  </div>
  <form id="form" [formGroup]="forgotPassVerifyform">
    <div>
      <ion-label>OTP</ion-label>
      <ion-input placeholder="Enter OTP" formControlName="otp"></ion-input>
    </div>

    <!-- <div id="resend">
      <ion-button color="white" expand="block" fill="clear"
        >Resend OTP</ion-button
      >
    </div> -->
    <ion-label>Enter New Password</ion-label>
    <div id="input_f">
      <ion-input
        [type]="newPasswordVisible ? 'text' : 'password'"
        placeholder="Enter New Password"
        formControlName="newPassword"
      ></ion-input>
      <ion-icon
        [name]="newPasswordVisible ? 'eye-outline' : 'eye-off-outline'"
        (click)="newPasswordVisible = !newPasswordVisible"
        slot="end"
        align-self-center
      ></ion-icon>
    </div>
    <ion-label>Confirm New Password</ion-label>
    <div id="input_f">
      <ion-input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        placeholder="Confirm New Password"
        formControlName="confirmPassword"
      ></ion-input>
      <ion-icon
        [name]="confirmPasswordVisible ? 'eye-outline' : 'eye-off-outline'"
        (click)="confirmPasswordVisible = !confirmPasswordVisible"
        slot="end"
        align-self-center
      ></ion-icon>
    </div>

    <div
      style="color: red"
      *ngIf="forgotPassVerifyform.hasError('notEquivalent') && forgotPassVerifyform.get('confirmPassword').touched"
    >
      New Password & Confirm New Password do not match
    </div>

    <div>
      <ion-button
        class="reset-button"
        *ngIf="!isLoading"
        expand="block"
        color="white"
        (click)="submitForm()"
        >Verify OTP</ion-button
      >
      <ion-button
        *ngIf="isLoading"
        shape="round"
        color="white"
        class="reset-button"
      >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
