.top_tab {
  padding: 0;
  margin: 15px;
  height: 38px;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
}
.one {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.one.tab-selected {
  background-color: skyblue;
}
.two.tab-selected {
  color: #000;
}
ion-slides {
  margin-top: 100px;
}
ion-slide {
  width: 31% !important;
  margin-right: 10px !important;
}
.delivery {
  background-color: skyblue;
}
#cat {
  background-color: #fff;
  text-align: left;
  font-size: 20px;
}
ion-toolbar {
  background-color: #fff;
}
.category {
  padding: 12px;
  margin-top: -58%;
}
#cat2 {
  position: absolute;
  // top: 40%;
}
#child_cat2 {
  margin: 12px;
  box-shadow: none;
  height: 80px;
  border-bottom: none !important;
}
#child_cat2 ion-tab-button {
  border: none;
  background-color: #fff;
}
#child_cat2 ion-tab-button ion-label {
  font-size: 11px;
}
#child_cat2 .box {
  width: 62px;
  height: 62px;
}
#child_cat2 .box img {
  width: 100%;
  height: 90%;
}
ion-segment {
  height: 80px;
  border-radius: 0;
  background-color: #fff;
  column-gap: 15px;
  overflow-x: scroll;
  padding: 0 5px;
  justify-content: flex-start;
}
ion-segment-button {
  font-size: 11px;
  margin: 0;
}
#cat2 .tabs-inner {
  max-height: 300px !important;
}
.animate__fast h5 {
  margin: 18px;
  font-weight: 600;
}
ion-card-content {
  display: flex;
  align-items: center;
  position: relative;
}
ion-card-content img {
  width: 22%;
  position: absolute;
  right: 4%;
  top: 22%;
}
.two {
  padding: 6px;
}
.new {
  height: 300px;
  overflow-y: scroll;
}
// .tabs-inner {
//   max-height: 237px !important;
// }
.animate__animated {
  z-index: -1;
}
