ion-tab-bar{
  padding: 0;
  margin: 15px;
  height: 38px;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
}
ion-tab-button{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
ion-tab-button:active{
  background-color: skyblue;
}
.dinein{
  background-color: skyblue
}
