<ion-header>
  <!-- <ion-toolbar>
    <ion-title>delivery</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <!-- <ion-slides [options]="slideOps">
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
  </ion-slides> -->
  <swiper [slidesPerView]="3" [loop]="true" class="borderBottom">
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
  </swiper>

  <div
    class="top_cat"
    style="
      max-width: 100%;
      overflow: hidden;
      position: sticky;
      z-index: 1;
      top: 0;
    "
  >
    <h2>Categories</h2>

    <ion-segment
      #slides
      (ionChange)="segmentChanged($event)"
      [(ngModel)]="selected"
    >
      <ion-segment-button
        *ngFor="let productCategory of productCategories"
        (click)="getDataBymenuGroupId(productCategory.menuGroupId,productCategory.groupName)"
        [value]="productCategory.groupName"
      >
        <!-- <img src="{{productCategory.groupImageUrl}}" alt="" /> -->
        <ion-label
          style="
            white-space: pre-wrap;
            line-height: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            font-size: 11px;
            font-weight: 700;
          "
        >
          {{productCategory.groupName}}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="animate__animated animate__slideInUp animate__fast new">
    <ion-grid>
      <ion-row style="display: flex; align-items: center">
        <ion-col size="9" style="padding: 0">
          <h5>Menu</h5>
        </ion-col>
        <ion-col size="3" style="padding: 0" *ngIf="isResetVisible()">
          <ion-button
            (click)="resetFunctionality()"
            class="button-transparent"
            fill="clear"
          >
            <span class="bold">RESET</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card
      *ngFor="let item of menuItems; let index = index"
      style="margin-top: -10px"
    >
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          position: relative;
          justify-content: space-between;
          flex-wrap: nowrap;
        "
      >
        <div style="width: 75%">
          <h2 style="font-size: 20px; font-weight: 700">
            {{item.menuItemName}}
          </h2>
          <span style="font-size: 17px">$ {{item.unitPrice}}</span>
          <p>{{item.MenuItemNote}}</p>
        </div>

        <div
          style="
            width: 25%;
            display: flex;
            flex-direction: column;
            /* height: 100%; */
            justify-content: center;
            align-items: center;
          "
        >
          <img
            src="assets/img/burger1.jpg"
            alt=""
            style="width: unset; position: unset"
          />
          <!-- 
          <div class="cart_card_control_span">
            <span
              class="cart_mod_btn"
              (click)="subQty(product,i)"
              role="button"
              tabindex="0"
            >
              <span class="cart_remove_icon">–</span>
            </span>

            <span class="cart_qty_span">
              <p style="display: inline">{{ product_quantity }}</p>
            </span>

            <span
              class="cart_mod_btn"
              role="button"
              (click)="addQty(product,i)"
              tabindex="0"
            >
              <span class="cart_add_icon">+</span>
            </span>
          </div> -->
          <ion-button class="btn-apply" color="warning">ADD </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="" class="two">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search" class="two">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cart" class="two">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account" class="two">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
