// ion-tab-bar{
//   padding: 0;
//   margin: 15px;
//   height: 38px;
//   box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
// }
// ion-tab-button{
//   background-color: #fff;
//   border: 1px solid #000;
//   color: #000;
// }
// ion-tab-button:active{
//   background-color: skyblue;
// }

// ion-slides{
//   margin-top: 100px;
// }
// ion-slide{
//   width: 31% !important;
//   margin-right: 10px !important;
// }
// .delivery{
//   background-color: skyblue;
// }
.top_tab {
  padding: 0;
  margin: 15px;
  height: 38px;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  margin-top: 19px;
}
.one {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.one:active {
  background-color: skyblue;
}

ion-slides {
  margin-top: 15px;
  margin-bottom: 20px;
}
ion-slide {
  width: 31% !important;
  margin-right: 10px !important;
}
.delivery {
  background-color: skyblue;
}
#cat {
  background-color: #fff;
  text-align: left;
  font-size: 20px;
}
ion-toolbar {
  background-color: #fff;
}
.category {
  padding: 12px;
  margin-top: -58%;
}
#cat2 {
  position: absolute;
  // top: 40%;
}
#child_cat2 {
  margin: 12px;
  box-shadow: none;
  height: 80px;
  border-bottom: none !important;
}
#child_cat2 ion-tab-button {
  border: none;
  background-color: #fff;
}
#child_cat2 ion-tab-button ion-label {
  font-size: 11px;
}
#child_cat2 .box {
  width: 62px;
  height: 62px;
}
#child_cat2 .box img {
  width: 100%;
  height: 90%;
}
ion-segment {
  height: 80px;
  border-radius: 0;
  background-color: #fff;
  column-gap: 15px;
  overflow-x: scroll;
  padding: 0 5px;
  justify-content: flex-start;
}
ion-segment-button {
  font-size: 11px;
  margin: 0;
}
#cat2 .tabs-inner {
  max-height: 300px !important;
}
.animate__fast h5 {
  margin: 18px;
  font-weight: 600;
}
ion-card-content {
  display: flex;
  align-items: center;
  position: relative;
}
ion-card-content img {
  width: 22%;
  position: absolute;
  right: 4%;
  top: 22%;
}
.two {
  padding: 6px;
}
.new {
  max-height: 350px;
  overflow-y: scroll;
  min-height: 404px;
  // height: 100%;
}
// .tabs-inner {
//   max-height: 237px !important;
// }
.animate__animated {
  z-index: -1;
}
.top_cat h3 {
  padding: 12px;
  margin-top: 7px;
}
.button-transparent {
  --background: transparentize(100);
  --background-hover: #ffffff;
  color: red;
}
.bold {
  font-size: initial;
  font-weight: bold;
}

swiper {
  div {
    // height: 20vh;
    width: 94%;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    transform: translateY(10%);
  }
}

.borderBottom {
  border-bottom: 0.5vh solid var(--ion-color-light);
  // overflow: unset !important;
}
.btn-apply {
  background: #ffc409;
  color: black;
  border: 2px solid;
  outline: 5px black;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  position: relative;
  bottom: 5px;
  /* right: 20px; */
  z-index: 2;
  height: 25px;
}
.quantity {
  width: 2rem;
}
.left_design {
  height: 26px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  width: 26%;
  background: #ffc409;
  z-index: 99;
}
.left_design ion-button {
  height: 20px;
  color: #000;
  font-size: 10px;
}
.left_design ion-input {
  text-align: center;
  color: #000;
}
.cart_card_control_span {
  width: 78%;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
    background: #ffc409;
    position: relative;
    border-radius: 4px;
    padding: 4px 0;
    border: 2px solid;
    outline: 5px black;
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
    bottom: 5px;
}


.Click-here {
  cursor: pointer;
  // background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
  // color: #fff;
  // width: 180px;
  text-align: center;
  // font-size:16px;
  // padding: 18px 0;
  // margin: 0 auto;
  // transition:background-image 3s ease-in-out;
}
.Click-here:hover{
  transition:background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
}
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 90%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
  margin-top: 260px;
  margin-left: 20px;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 5%;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
  margin-top: 260px;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}

.proceed {
  background: #ffc409;
  color: black;
  border: 2px solid;
  outline: 5px black;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  position: relative;
  bottom: 5px;
  /* right: 20px; */
  z-index: 2;
  height: 38px;
  padding: 8px;
  margin-top: 12px;
}
#popup{
  position:absolute;
  width: 100%;
  // height: 50vh;
  background-color: #fff;
  z-index: 999;
  top: 50%;
  left: 0;
  border-top: 2px solid #000;
  border-radius: 20px;
  display: none;
  padding: 12px;
}
#close{
  color: #000;
  z-index: 1000;
  position: absolute;
  right: 4%;
  font-size: 24px;
}
.main{
  background-color: #e6e6e6;
  padding: 8px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 6px;
}
.neww{
  margin-top: 16px;
  background: #ffc409;
  color: black;
  outline: 5px black;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  position: relative;
  bottom: 7px;
}
.required:after {
  content:"*";
  color: red;
}
.heightp{
  height: 16vh;
  width: 32vw;
}

