// ion-tab-bar{
//   padding: 0;
//   margin: 15px;
//   height: 38px;
//   box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
// }
// ion-tab-button{
//   background-color: #fff;
//   border: 1px solid #000;
//   color: #000;
// }
// ion-tab-button:active{
//   background-color: skyblue;
// }

// ion-slides{
//   margin-top: 100px;
// }
// ion-slide{
//   width: 31% !important;
//   margin-right: 10px !important;
// }
// .delivery{
//   background-color: skyblue;
// }
.top_tab {
  padding: 0;
  margin: 15px;
  height: 38px;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
}
.one {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.one:active {
  background-color: skyblue;
}

ion-slides {
  margin-top: 15px;
  margin-bottom: 20px;
}
ion-slide {
  width: 31% !important;
  margin-right: 10px !important;
}
.delivery {
  background-color: skyblue;
}
#cat {
  background-color: #fff;
  text-align: left;
  font-size: 20px;
}
ion-toolbar {
  background-color: #fff;
}
.category {
  padding: 12px;
  margin-top: -58%;
}
#cat2 {
  position: absolute;
  // top: 40%;
}
#child_cat2 {
  margin: 12px;
  box-shadow: none;
  height: 80px;
  border-bottom: none !important;
}
#child_cat2 ion-tab-button {
  border: none;
  background-color: #fff;
}
#child_cat2 ion-tab-button ion-label {
  font-size: 11px;
}
#child_cat2 .box {
  width: 62px;
  height: 62px;
}
#child_cat2 .box img {
  width: 100%;
  height: 90%;
}
ion-segment {
  height: 80px;
  border-radius: 0;
  background-color: #fff;
  column-gap: 15px;
  overflow-x: scroll;
  padding: 0 5px;
  justify-content: flex-start;
}
ion-segment-button {
  font-size: 11px;
  margin: 0;
}
#cat2 .tabs-inner {
  max-height: 300px !important;
}
.animate__fast h5 {
  margin: 18px;
  font-weight: 600;
}
ion-card-content {
  display: flex;
  align-items: center;
  position: relative;
}
ion-card-content img {
  width: 22%;
  position: absolute;
  right: 4%;
  top: 22%;
}
.two {
  padding: 6px;
}
.new {
  max-height: 350px;
  overflow-y: scroll;
  height: 100%;
}
// .tabs-inner {
//   max-height: 237px !important;
// }
.animate__animated {
  z-index: -1;
}
.top_cat h3 {
  padding: 12px;
  margin-top: 7px;
}
.button-transparent {
  --background: transparentize(100);
  --background-hover: #ffffff;
  color: red;
}
.bold {
  font-size: initial;
  font-weight: bold;
}

swiper {
  div {
    // height: 20vh;
    width: 94%;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    transform: translateY(10%);
  }
}

.borderBottom {
  border-bottom: 2.5vh solid var(--ion-color-light);
  overflow: unset !important;
}
.btn-apply {
  background: #ffc409;
  color: black;
  border: 2px solid;
  outline: 5px black;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  position: absolute;
  bottom: 0%;
  right: 20px;
  z-index: 2;
  height: 25px;
}
.quantity {
  width: 2rem;
}
.left_design {
  height: 26px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  width: 26%;
  background: #ffc409;
  z-index: 99;
}
.left_design ion-button {
  height: 20px;
  color: #000;
  font-size: 10px;
}
.left_design ion-input {
  text-align: center;
  color: #000;
}
.cart_card_control_span {
  width: 71px;
  color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  background: #ffc409;
  border-radius: 4px;
  // position: absolute;
  //right: 21px;
  padding: 4px 0;
  border: 2px solid;
  outline: 5px black;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  /* background-color: #fff; */
  bottom: 5px;
}
