<ion-header>
  <!-- <ion-toolbar>
    <ion-title>delivery</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <!-- <ion-slides [options]="slideOps">
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ion-slide>
  </ion-slides> -->
  <swiper [slidesPerView]="3" [loop]="true" class="borderBottom">
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="box">
        <img src="assets/img/burger2.jpeg" alt="" />
      </div>
    </ng-template>
  </swiper>

  <div class="top_cat" style="
      max-width: 100%;
      overflow: hidden;
      position: sticky;
      z-index: 1;
      top: 0;
    ">
    <h3>Categories</h3>

    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let productCategory of productCategories">
        <p>{{productCategory.menuGroupId}}</p>
        <img src="{{productCategory.groupImageUrl}}" alt="" />
        <ion-label> {{productCategory.groupName}} </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="animate__animated animate__slideInUp animate__fast new" *ngIf="segment === 'salad'">
    <ion-grid>
      <ion-row style="display: flex; align-items: center">
        <ion-col size="9" style="padding: 0">
          <h5>Menu</h5>
        </ion-col>
        <ion-col size="3" style="padding: 0">
          <ion-button class="button-transparent" fill="clear">
            <span class="bold">RESET</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card *ngFor="let item of arr; let index = index" style="margin-top: -10px">
      <ion-card-content>
        <div>
          <h2>Bread &amp; Dips</h2>
          <span>$ 14.50</span>
          <p>Charred ciabatta, chef’s dip selections</p>
        </div>

        <div><img src="assets/img/burger1.jpg" alt="" /></div>

        <div class="cart_card_control_span">
          <span class="cart_mod_btn" role="button" tabindex="0">
            <span class="cart_remove_icon">–</span>
          </span>

          <span class="cart_qty_span">
            <p style="display: inline">1</p>
          </span>

          <span class="cart_mod_btn" role="button" tabindex="0">
            <span class="cart_add_icon">+</span>
          </span>
        </div>
        <!-- <ion-button class="btn-apply" color="warning">ADD </ion-button> -->
      </ion-card-content>
    </ion-card>
  </div>

  <div class="animate__animated animate__slideInUp animate__fast new" *ngIf="segment === 'side'">
    <h5>Menu</h5>
    <ion-card *ngFor="let item of arr; let index = index">
      <ion-card-content>
        <h2>Card {{ index + 1 }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="animate__animated animate__slideInUp animate__fast new" *ngIf="segment === 'pizza'">
    <h5>Menu</h5>
    <ion-card *ngFor="let item of arr; let index = index">
      <ion-card-content>
        <h2>New {{ index + 1 }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="animate__animated animate__slideInUp animate__fast new" *ngIf="segment === 'burger'">
    <h5>Menu</h5>
    <ion-card *ngFor="let item of arr; let index = index">
      <ion-card-content>
        <h2>Old {{ index + 1 }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="animate__animated animate__slideInUp animate__fast new" *ngIf="segment === 'dimatine'">
    <h5>Menu</h5>
    <ion-card *ngFor="let item of arr; let index = index">
      <ion-card-content>
        <h2>Diff {{ index + 1 }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="animate__animated animate__slideInUp animate__fast new" *ngIf="segment === 'dessert'">
    <h5>Menu</h5>
    <ion-card *ngFor="let item of arr; let index = index">
      <ion-card-content>
        <h2>Iss {{ index + 1 }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="" class="two">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search" class="two">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cart" class="two">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account" class="two">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>