<ion-header>
  <ion-toolbar>
    <ion-title>PRE ORDER </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crossButton()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)] = "value"> 
    <ion-item>
      <ion-radio slot="start" (click)="preorder('takeaway')" value="takeaway"></ion-radio>
      <ion-label>Takeaway</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio slot="start" (click)="preorder('delivery')" value="delivery"></ion-radio>
      <ion-label>Delivery</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio slot="start" (click)="preorder('dinein')" value="dinein"></ion-radio>
      <ion-label>Dine In</ion-label>
    </ion-item>
  </ion-radio-group>

 

  <div *ngIf="isFormVisible">
    
    <form id="form" [formGroup]="confirmationForm">
      <p *ngIf="dinein" class="requiredAestric" style="color:red;">Table allocation is subject to availability of table at dine in time.</p>
      <div>
        <ion-label class="required">Select Date</ion-label>
        <ion-input
          placeholder="Enter Input"
          type="date"
          formControlName="selectedDate"
        ></ion-input>
      </div>
      <div>
        <ion-label class="required">Select Time</ion-label>
        <ion-input
          placeholder="Enter Input"
          type="time"
          formControlName="selectedTime"
          (ionChange)="onTimeChange($event)"
        ></ion-input>
      </div>
      <div *ngIf="dinein">
        <ion-label class="required">No of People </ion-label>
        <ion-input
          placeholder="Enter Input"
          formControlName="selectedPeople"
        ></ion-input>
      </div>
      <div>
        <hr class="hr" />
        <ion-button
          expand="block"
          class="button1"
          color="white"
          (click)="onSubmit()"
          [disabled]="confirmationForm.invalid"
          >CONFIRM</ion-button
        >
      </div>
    </form>
  </div>

</ion-content>
