<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/cart" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> APPLY VOUCHERS </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="head">
    <ion-searchbar placeholder="Enter Voucher Code"></ion-searchbar>
    <ion-button class="btn-send" color="warning">APPLY </ion-button>
  </div>
  <ion-row>
    <ion-col>
      <div>
        <h4>AVAILABLE VOUCHERS</h4>
      </div>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <div id="avail_voucher">
        <ion-col size="1">
          <ion-badge style="margin-top: 8px" color="warning">%</ion-badge>
        </ion-col>
        <ion-col size="8">
          <div id="mid_sec">
            <h4>Senior Citizen: 10.0%</h4>
            <p>Brief description about offer and its terms</p>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-button class="btn-apply" color="warning">APPLY </ion-button>
        </ion-col>
      </div>
    </ion-row>
    <hr />
  </ion-grid>
</ion-content>
