<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="arrow" routerLink="/account">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Orders </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row id="first_row">
      <ion-col size="5.5" id="first"><h5>Status</h5></ion-col>
      <ion-col size="6.5"
        ><h5>{{userOrderDetails?.orders.order_status_code}}</h5></ion-col
      >
      <ion-col size="12">
        <h4>Address</h4>
      </ion-col>
      <ion-col size="12">
        <p>
          {{userOrderDetails?.orders.addressLine1}},{{userOrderDetails?.orders.city}}
        </p>
      </ion-col>
      <ion-col size="12"><p>BILL DETAILS</p></ion-col>
    </ion-row>
    <hr class="hr" />
    <ion-row id="second_row" *ngFor="let data of userOrderDetails?.menu">
      <ion-col size="9.5"
        ><p>
          {{data.menuitem_name}} * {{data.Quantity | number: '0.2-2'}}
        </p></ion-col
      >
      <ion-col size="2.5"
        ><p>
          ${{data.default_Price *data.Quantity | number: '0.2-2'}}
        </p></ion-col
      >
    </ion-row>
    <hr class="hr" />
    <ion-row id="third_row">
      <ion-col size="9.5"><h4>Item total</h4></ion-col>
      <ion-col size="2.5"><h4>${{finalMoney | number: '0.2-2'}}</h4></ion-col>
      <ion-col size="9.5"><h4>Delivery</h4></ion-col>
      <ion-col size="2.5"><h4>$10</h4></ion-col>
      <ion-col size="9.5"><h4>GST</h4></ion-col>
      <ion-col size="2.5"><h4>$12</h4></ion-col>
    </ion-row>
    <hr class="hr" />
    <ion-row id="fourth_row">
      <ion-col size="9.5"><h4>Grand Total</h4></ion-col>
      <ion-col size="2.5"
        ><h4>${{finalMoney+10+12 | number: '0.2-2'}}</h4></ion-col
      >
    </ion-row>
  </ion-grid>

  <hr class="hrbottom" />
  <div id="social_btn">
    &nbsp;
    <ion-button class="button1" expand="block" color="white"
      >EMAIL INVOICE</ion-button
    >&nbsp;
    <ion-button
      class="button1"
      expand="block"
      color="white"
      (click)="presentAlert()"
      >RATE ORDER</ion-button
    >
    &nbsp;
  </div>
</ion-content>
