<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/account" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="top_img">
    <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  </div>

  <form id="form" [formGroup]="profileForm">
    <div>
      <ion-label class="required">Name</ion-label>
      <ion-input placeholder="Enter Name" formControlName="name"></ion-input>
      <small *ngIf="name_FormControl.hasError('required') && name_FormControl.touched"><b style="color:red;"> Name is required</b></small>
    </div>
    <div>
      <ion-label class="required">Email</ion-label>
      <ion-input placeholder="Enter Email" formControlName="email" disabled></ion-input>
      <small *ngIf="email_FormControl.hasError('required') && email_FormControl.touched "><b style="color:red;">Email is required</b></small>
      <small *ngIf="officialEmail.errors?.pattern"><b style="color:red;"> Email is not valid</b></small>
    </div>
    <div>
      <ion-label class="required">Mobile</ion-label>
      <ion-input
        placeholder="Enter Mobile"
        formControlName="mobile"
        type="tel"
        maxlength="10"
        onKeyPress="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
      ></ion-input>
      <small *ngIf="mobile_FormControl.hasError('required') && mobile_FormControl.touched "><b style="color:red;">Mobile No is required</b></small>
      <small *ngIf="mobile_FormControl.hasError('maxlength') && mobile_FormControl.touched "><b style="color:red;">Mobile No cannot be greater than 10</b></small>
    </div>
    <div>
      <ion-label class="required">Gender</ion-label>
      <ion-list lines="none">
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="Male"
            formControlName="gender"
          >
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <small *ngIf="gender_FormControl.hasError('required') && gender_FormControl.touched "><b style="color:red;">Gender is required</b></small>
    </div>
    <div>
      <ion-label class="required">Date of Birth</ion-label>
      <!-- <ion-datetime formControlName="dateOfBirth" displayFormat="DD.MM.YYYY"  presentation="date"></ion-datetime> -->
      <ion-input
        placeholder="Enter Date of Birth"
        type="date"
        formControlName="dateOfBirth"
      ></ion-input>
      <small *ngIf="dateOfBirth_FormControl.hasError('required') && dateOfBirth_FormControl.touched "><b style="color:red;">DOB is required</b></small>
    </div>
    <div>
      <ion-label class="required">Anniversary</ion-label>
      <ion-input
        placeholder="Enter Anniversary"
        type="date"
        formControlName="anniversary"
      ></ion-input>
      <small *ngIf="anniversary_FormControl.hasError('required') && anniversary_FormControl.touched "><b style="color:red;">Anniversary is required</b></small>

    </div>
    <div>
      <ion-button
        class="button1"
        expand="block"
        color="white"
        (click)="saveForm()"
        [disabled]="profileForm.invalid"
        >SAVE</ion-button
      >
    </div>
  </form>
</ion-content>
