<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/account" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="top_img">
    <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  </div>

  <form id="form">
    <div>
      <ion-label>Name</ion-label>
      <ion-input placeholder="Enter Name"></ion-input>
    </div>
    <div>
      <ion-label>Email</ion-label>
      <ion-input placeholder="Enter Email"></ion-input>
    </div>
    <div>
      <ion-label>Mobile</ion-label>
      <ion-input placeholder="Enter Mobile"></ion-input>
    </div>
    <div>
      <ion-label>Gender</ion-label>
      <ion-list>
        <ion-item>
          <ion-select interface="popover" placeholder="Male">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-label>Date of Birth</ion-label>
      <ion-input placeholder="Enter Date of Birth" type="date"></ion-input>
    </div>
    <div>
      <ion-label>Anniversary</ion-label>
      <ion-input placeholder="Enter Anniversary" type="date"></ion-input>
    </div>
    <div>
      <ion-button class="button1" expand="block" color="white">SAVE</ion-button>
    </div>
  </form>
</ion-content>
