<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/account" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="top_img">
    <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  </div>

  <form id="form" [formGroup]="profileForm">
    <div>
      <ion-label class="required">First Name</ion-label>
      <ion-input placeholder="Enter Name" formControlName="fname"></ion-input>
      <small
        *ngIf="fname_FormControl.hasError('required') && fname_FormControl.touched"
        ><b style="color: red"> First Name is required</b></small
      >
    </div>
    <div>
      <ion-label class="required">Last Name</ion-label>
      <ion-input placeholder="Enter Name" formControlName="lname"></ion-input>
      <small
        *ngIf="lname_FormControl.hasError('required') && lname_FormControl.touched"
        ><b style="color: red">Last Name is required</b></small
      >
    </div>
    <div>
      <ion-label class="required">Email</ion-label>
      <ion-input
        placeholder="Enter Email"
        formControlName="email"
        disabled
      ></ion-input>
      <small
        *ngIf="email_FormControl.hasError('required') && email_FormControl.touched "
        ><b style="color: red">Email is required</b></small
      >
      <small *ngIf="officialEmail.errors?.pattern"
        ><b style="color: red"> Email is not valid</b></small
      >
    </div>
    <div>
      <ion-label class="required">Mobile</ion-label>
      <ion-input
        placeholder="Enter Mobile"
        formControlName="mobile"
        type="tel"
        maxlength="10"
        onKeyPress="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
      ></ion-input>
      <small
        *ngIf="mobile_FormControl.hasError('required') && mobile_FormControl.touched "
        ><b style="color: red">Mobile No is required</b></small
      >
      <small
        *ngIf="mobile_FormControl.hasError('maxlength') && mobile_FormControl.touched "
        ><b style="color: red">Mobile No cannot be greater than 10</b></small
      >
    </div>
    <div>
      <ion-label class="required">Gender</ion-label>
      <ion-list class="maleList" lines="none">
        <ion-item>
          <ion-select
            class="gender"
            interface="popover"
            placeholder="Male"
            formControlName="gender"
          >
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <small
        *ngIf="gender_FormControl.hasError('required') && gender_FormControl.touched "
        ><b style="color: red">Gender is required</b></small
      >
    </div>
    <div>
      <ion-label class="required">Date of Birth</ion-label>
      <div class="dateOf">
        <ion-list class="tag" lines="none">
          <ion-item>
            <ion-select
              class="month"
              interface="action-sheet"
              placeholder="Enter Month"
              formControlName="monthOfBirth"
            >
              <ion-select-option value="January">January</ion-select-option>
              <ion-select-option value="February">February</ion-select-option>
              <ion-select-option value="March">March</ion-select-option>
              <ion-select-option value="April">April</ion-select-option>
              <ion-select-option value="May">May</ion-select-option>
              <ion-select-option value="June">June</ion-select-option>
              <ion-select-option value="July">July</ion-select-option>
              <ion-select-option value="August">August</ion-select-option>
              <ion-select-option value="September">September</ion-select-option>
              <ion-select-option value="October">October</ion-select-option>
              <ion-select-option value="November">November</ion-select-option>
              <ion-select-option value="December">December</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="tag" lines="none">
          <ion-item>
            <ion-select
              class="date"
              interface="action-sheet"
              placeholder="Enter Date"
              formControlName="dateOfBirth"
            >
              <ion-select-option *ngFor="let data of array" [value]="data"
                >{{data}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!-- <ion-datetime formControlName="dateOfBirth" displayFormat="DD.MM.YYYY"  presentation="date"></ion-datetime> -->
      <!-- <ion-input
        placeholder="Enter Date of Birth"
        type="date"
        formControlName="dateOfBirth"
      ></ion-input> -->
      <small
        *ngIf="monthOfBirth_FormControl.hasError('required') && monthOfBirth_FormControl.touched "
        ><b style="color: red">Month is required</b></small
      >&nbsp;&nbsp;
      <small
        *ngIf="dateOfBirth_FormControl.hasError('required') && dateOfBirth_FormControl.touched "
        ><b style="color: red">DOB is required</b></small
      >
    </div>
    <div>
      <ion-label>Anniversary</ion-label>
      <ion-input
        placeholder="Enter Anniversary"
        type="date"
        formControlName="anniversary"
      ></ion-input>
      <small
        *ngIf="anniversary_FormControl.hasError('required') && anniversary_FormControl.touched "
        ><b style="color: red">Anniversary is required</b></small
      >
    </div>
    <div>
      <ion-button
        class="button1"
        expand="block"
        color="white"
        (click)="saveForm()"
        [disabled]="profileForm.invalid"
        >SAVE</ion-button
      >
    </div>
  </form>
</ion-content>
