<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/account" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Contact Us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe
    src="https://thestirlingarms.com.au/contact"
    style="width: 100%; height: 100%"
    scrolling="yes"
    loading="lazy"
  ></iframe> -->
  <form id="form">
    <div>
      <ion-label>FIRST NAME</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </div>
    <div>
      <ion-label>LAST NAME</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </div>
    <div>
      <ion-label>MOBILE</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </div>
    <div>
      <ion-label>EMAIL</ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </div>

    <!-- <div>
      <ion-label>DINING DATE</ion-label>
      <ion-input placeholder="Enter Input" type="date"></ion-input>
    </div>
    <div>
      <ion-label>DINING TIME</ion-label>
      <ion-input placeholder="Enter Input" type="time"></ion-input>
    </div> -->

    <!-- working code -->
    <div>
      <ion-label position="floating">DESCRIPTION</ion-label>
      <ion-textarea rows="5"></ion-textarea>
    </div>

    <div id="bottom">
      <hr class="hr" />
      <ion-button class="button1" expand="block" color="white">SEND</ion-button>
    </div>
  </form>
</ion-content>
