<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="changeRoute()" id="arrow">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="addAddressForm">
    <div>
      <ion-label class="required">Tag</ion-label>
      <ion-list class="tag" lines="none">
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="Home"
            formControlName="tag"
          >
            <ion-select-option value="home">Home</ion-select-option>
            <ion-select-option value="office">Office</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <small
        *ngIf="tag_FormControl.hasError('required') && tag_FormControl.touched"
        ><b style="color: red">Tag is required</b></small
      >
    </div>
    <div>
      <ion-label position="floating" class="required">Address</ion-label>
      <ion-textarea rows="3" formControlName="address"></ion-textarea>
      <small
        *ngIf="address_FormControl.hasError('required') && address_FormControl.touched"
        ><b style="color: red">Address is required</b></small
      >
    </div>
    <div>
      <ion-label class="required">SUBURB</ion-label>
      <!-- <ion-input
        type="number"
        placeholder="Enter Input"
        formControlName="pincode"
      ></ion-input> -->
      <ion-list class="tag" lines="none">
        <ion-item>
          <ion-select
            interface="action-sheet"
            placeholder="Enter Input"
            formControlName="pincode"
          >
            <ion-select-option *ngFor="let data of userAddress" [value]="data"
              >{{data.delivery_suburb}}-{{data.delivery_postcode}}<br />
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <small
        *ngIf="pincode_FormControl.hasError('required') && pincode_FormControl.touched"
        ><b style="color: red">Pincode is required</b></small
      >
    </div>
    <div>
      <ion-label class="required">Landmark</ion-label>
      <ion-input
        placeholder="Enter Input"
        formControlName="landmark"
      ></ion-input>
      <small
        *ngIf="landmark_FormControl.hasError('required') && landmark_FormControl.touched"
        ><b style="color: red">Landmark is required</b></small
      >
    </div>
    <div>
      <ion-label class="required">Mobile</ion-label>
      <ion-input
        type="tel"
        maxlength="10"
        onKeyPress="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
        placeholder="Enter Input"
        formControlName="mobile"
      ></ion-input>
      <small
        *ngIf="mobile_FormControl.hasError('required') && mobile_FormControl.touched"
        ><b style="color: red">Mobile no is required</b></small
      >
      <small
        *ngIf="mobile_FormControl.hasError('maxlength') && mobile_FormControl.touched "
        ><b style="color: red">Mobile No cannot be greater than 10</b></small
      >
    </div>
    <p
      *ngIf="addAddressForm.invalid && addAddressForm.touched"
      style="color: red"
    >
      Please Enter All the require Fields
    </p>
    <div>
      <ion-button
        class="button1"
        expand="block"
        color="white"
        (click)="addAddress()"
        [disabled]="addAddressForm.invalid"
        >Add</ion-button
      >
    </div>
  </form>
</ion-content>
