/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
#cat2 .tabs-inner {
  max-height: 300px !important;
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

//for Small Modals

// .dialog-modal {
//   height: 30%;
//   width: 50%;
//   border-radius: 15px;
//   top: 50%;
// }

ion-modal.dialog-modal::part(content) {
  --height: 40%;
  position: absolute;
  top: 28%;
  --width: 90%;
  display: block;
}

#create_acc a {
  color: #000;
}
#top_img {
  position: relative;
}
#top_img:before {
  content: "";
  background-color: #000;
  width: 100vw;
  height: 118px;
  position: absolute;
  top: -42%;
  left: 0;
  z-index: -1;
}

#top_img:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 10px;
  top: 40%;
  left: 0;
  background-color: #bf923d;
  z-index: -1;
}
.button1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  width: 100%;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}
.button1:hover {
  background-color: #bf923d;
  border: 2px solid #bf923d;
  color: #fff;
}

.reset-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  margin-top: 28px;
  width: 100%;
  color: #fff;
  border: 2px solid #000;
  background-color: #000;
}
.reset-button:hover {
  background-color: #bf923d;
  border: 2px solid #bf923d;
  color: #fff;
}
