.head {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  width: 100%;
  margin: 10px;
  z-index: 1;
}
.btn-send {
  color: black;
  right: 0;
  position: absolute;
}
.search {
  width: 88%;
}
.icon {
  font-size: 26px;
}
#mid_sec h4 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}
#mid_sec p {
  margin-top: -2px;
}
.btn-apply {
  background: #ffc409;
  color: black;
  border: 2px solid;
  outline: 5px black;
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
  position: relative;
  bottom: 5px;
  /* left: 17%; */
  z-index: 1;
  // width: 75%;
  height: 30px;
}
#bottom_sec img {
  position: relative;
}
#bottom_sec{
  display: flex;
    flex-direction: column;
    align-items: center;
}
#head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.two.tab-selected {
  color: #000;
}
.cart_card_control_span {
  width: 75%;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    background: #ffc409;
    border-radius: 4px;
    padding: 4px 0;
    border: 2px solid;
    outline: 5px black;
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
    bottom: 5px;
    /* left: 17%; */
    position: relative;
}

.tabs {
  position: sticky;
  bottom: 0;
}
