<ion-header>
  <ion-toolbar>
    <ion-searchbar
      animated="true"
      debounce="800"
      #searchInput
      (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="head">
    <ion-searchbar class="search" placeholder="search for food" ></ion-searchbar>
    <ion-button fill="clear" class="btn-send"
      ><ion-icon class="icon" name="funnel"></ion-icon>
    </ion-button>
  </div> -->
  <!-- <h5>3 items found</h5> -->
  <!-- *ngIf="restaurants.length>0" ion list condition-->
  <app-loading-reastaurant *ngIf="isLoading"></app-loading-reastaurant>
  <app-empty-screen
    *ngIf="!isLoading || query?.length==0"
    [model]="model"
  ></app-empty-screen>
  <ion-list *ngIf="!isLoading">
    <ion-list-header>
      <ion-label>
        <h2>Search results for "{{query}}"</h2>
      </ion-label>
    </ion-list-header>
    <ion-row>
      <ion-col>
        <div>
          <h5>3 items found</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <div id="head">
          <ion-col size="8">
            <div id="mid_sec">
              <h4>Mini Apple Doughnuts</h4>
              <p>$12</p>
              <p>White chocolate ganache,ice-cream</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div id="bottom_sec">
              <img src="assets/logoOriginal.png" />
              <ion-button class="btn-apply" color="warning">ADD </ion-button>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-tabs>
    <ion-tab-bar slot="bottom" style="border-top: 1px solid #000">
      <ion-tab-button routerLink="/maindelivery/delivery" class="two">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/search" selected="true" class="two">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/cart" class="two">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/account" class="two">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
