<ion-content>
  <!-- <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button routerLink="/delivery" tab="delivery"> -->
  <!-- <ion-icon name="calendar"></ion-icon> -->
  <!-- <ion-label>Delivery</ion-label> -->
  <!-- <ion-badge>6</ion-badge> -->
  <!-- </ion-tab-button> -->

  <!-- <ion-tab-button routerLink="/takeaway" tab="takeaway"> -->
  <!-- <ion-icon name="person-circle"></ion-icon> -->
  <!-- <ion-label>TakeAway</ion-label>
      </ion-tab-button> -->

  <!-- <ion-tab-button routerLink="/dinein" tab="dinein"> -->
  <!-- <ion-icon name="map"></ion-icon> -->
  <!-- <ion-label>Dinein</ion-label>
      </ion-tab-button> -->

  <!-- <ion-tab-button
        routerLink="/reservation"
        tab="reservation"
        class="reservation"
      > -->
  <!-- <ion-icon name="information-circle"></ion-icon> -->
  <!-- <ion-label>Reservation</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

  <div class="head">
    <ion-button
      class="button-transparent"
      fill="clear"
      style="border-right: '2px solid'"
      (click)="tableReservation()"
    >
      <span class="bold">TABLE RESERVATION</span>
    </ion-button>
    <ion-button
      class="button-transparent"
      fill="clear"
      (click)="eventReservation()"
    >
      <span class="bold">EVENT RESERVATION</span>
    </ion-button>
  </div>
  <form id="form">
    <div>
      <ion-label>FIRST NAME</ion-label>
      <ion-input type="text" placeholder="Enter First Name"></ion-input>
    </div>
    <div>
      <ion-label>LAST NAME</ion-label>
      <ion-input type="text" placeholder="Enter Last Name"></ion-input>
    </div>
    <div>
      <ion-label>MOBILE</ion-label>
      <ion-input
        type="number"
        placeholder="Enter Number"
        max-length="10"
      ></ion-input>
    </div>
    <div>
      <ion-label>EMAIL</ion-label>
      <ion-input type="text" placeholder="Enter Email"></ion-input>
    </div>
    <div>
      <ion-label>{{dining_event_date}}</ion-label>
      <ion-input placeholder="Enter Input" type="date"></ion-input>
    </div>
    <div>
      <ion-label>{{dining_event_time}}</ion-label>
      <ion-input placeholder="Enter Input" type="time"></ion-input>
    </div>
    <div>
      <ion-label>GUESTS</ion-label>
      <ion-input type="number" placeholder="Enter Number"></ion-input>
    </div>
    <div>
      <ion-label>OCCASION</ion-label>
      <ion-input type="text" placeholder="Enter Occasion"></ion-input>
    </div>
    <div>
      <ion-label position="floating">NOTES</ion-label>
      <ion-textarea rows="4"></ion-textarea>
    </div>
    <div id="bottom">
      <hr class="hr" />
      <ion-button class="btn-send" expand="block" color="warning"
        >RESERVE NOW</ion-button
      >
    </div>
  </form>
</ion-content>
