<ion-content>
  <img src="assets/Stirling-Arms_Logo.png" class="image-header" />
  <div class="text-container">
    <ion-text color="medium">
      <h1>STIRLING ARMS</h1>
    </ion-text>
    <ion-text color="medium">
      <p>Doing.Hotel.Different</p>
    </ion-text>
  </div>

  <form id="form">
    <div>
      <ion-label>Mobile</ion-label>
      <ion-input
        type="number"
        placeholder="Enter Number"
        max-length="10"
      ></ion-input>
    </div>
    <div>
      <ion-button class="button" expand="block" color="white"
        >Generate OTP</ion-button
      >
    </div>

    <div id="create_acc">
      <a>CREATE NEW ACCOUNT </a>
    </div>
  </form>
</ion-content>
